# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio cache / temp
.vs/
*.cache
*.VC.db
*.VC.opendb

# Visual Studio project and solution files (IGNORE THEM)
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.aps
*.rc

# Build output
Debug/
Release/
x64/
x86/
ARM/
ARM64/

# Misc intermediate & temp
*.ipch
*.db
*.opendb
*.tlog
*.log

# Other backups / temp
*.tmp
*.bak
